.pytest_cache/
.ruff_cache/
__pycache__/
allure*
venv/
results/*
img/current*
.env
run_test.bat
execution_log.txt
useful_code.py
pages/login_page.py
tests/test_no_release.py
old_tests/
email_content.html
ruff.toml